/*   Base styles    */

* {
  box-sizing: border-box;
}

.container, .homepage {
  line-height: 1.6;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  margin: 0 15px;
}

/*    Header     */

.main-header {
  background: linear-gradient(indigo, purple);
  color: #fff;
  padding: 10px 0;
  display: block;
  }

.title, .header-image, .main-nav {
  display: block;
  text-align: center;
  margin: auto;
}

.title {
  font-family: Alegreya, sans-serif;
  font-size: 2.25em;
}

.main-nav {
  font-family: Alegreya, sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.main-nav li {
  margin-bottom: 10px;
  list-style: none;
}

.main-nav a {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: indigo;

}

.main-nav a:hover {
  color: gold;
}

img {
  padding: 1.5em;
}

/*    Home/About Page   */

.about img {
  width: 100%;
}

.lcfc {
  font-family: 'Alegreya', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.lcfc a:hover {
  cursor: pointer;
}

.sponsor img {
  width: 100%;
}

/*    Order     */

.button {
  font-size: 1.5em;
  background-color: indigo;
  color: white;
  margin: 15px 0;
}

/*  Cart modal */

.modal {
  display: none;
  height: auto;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: auto;
  border: 3px solid #000;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255,255,1);
}

.modal-content {
  background color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_content h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 15px
}

.modal_content li {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin-bottom: .75em;
}

.modal_cost {
  margin-left: auto;
  padding-right: 10px;
}

.modal_order {
  margin-right: auto;
  padding-left: 15px
}

.modal_content button {
  margin-left: 15px;
}


/*    Contact     */

.contact li {
  list-style-type: none;
}

.contact-image {
  width: 90%;
  height: auto;
}

.map {
  margin: auto;
  width: 90%;
  height: auto;
}

/*    Footer     */

footer {
  background-color: indigo;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}

/* Media Queries */

@media (min-width: 769px) {
  .container, .homepage {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .header-image {
    width: auto;
    height: auto;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    float: left;
    margin-left: 12px;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrap {
    min-height: calc(100vh - 82px);
  }

  .modal {
    width: 65%;
  }
}

@media (min-width: 960px) {

  .homepage {
    display: flex;
    margin: 50px;
    width: 80%;
  }

  .column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
  }

  .about {
    margin-right: 50px;
  }

  .sponsor {
    margin-left: 50px;
  }

  .modal {
    width: 50%;
  }
}
