/*   Base styles    */

* {
  box-sizing: border-box;
}

.container, .singlepage, .doublepage {
  line-height: 1.6;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  margin: 0 15px;
}

/*    Header     */

.main-header {
  background: linear-gradient(indigo, purple);
  color: #fff;
  padding: 10px 0;
  display: block;
  }

.title, .header-image, .main-nav {
  display: block;
  text-align: center;
  margin: auto;
}

.title {
  font-family: Alegreya, sans-serif;
  font-size: 2.25em;
}

.main-nav {
  font-family: Alegreya, sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.main-nav li {
  margin-bottom: 10px;
  list-style: none;
}

.main-nav a {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: indigo;

}

.main-nav a:hover {
  color: gold;
}

img {
  padding: 1.5em;
}

/*    Home/About Page   */

.about img {
  width: 100%;
}

.lcfc {
  font-family: 'Alegreya', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.lcfc a:hover {
  cursor: pointer;
}

.sponsor img {
  width: 100%;
}

/*    Order     */

.button {
  font-size: 1.5em;
  background-color: indigo;
  color: white;
  margin: 15px 0;
}




/*    Footer     */

footer {
  background-color: purple;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}

.footer-nav {
  font-family: Alegreya, sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.footer-nav li {
  margin-bottom: 10px;
  list-style: none;
}

.footer-nav a {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: indigo;

}

.footer-nav a:hover {
  color: gold;

/* Media Queries */

@media (min-width: 769px) {
  .container, .singlepage, .doublepage {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .header-image {
    width: auto;
    height: auto;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    float: left;
    margin-left: 12px;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrap {
    min-height: calc(100vh - 82px);
  }
}

@media (min-width: 960px) {

  .doublepage {
    display: flex;
    margin: 50px;
    width: 80%;
  }

  .column {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
  }

  .double_A {
    margin-right: 50px;
  }

  .double_B {
    margin-left: 50px;
  }

  .single {
    margin-left: 50px;
    margin-right:50px;
  }



}
